<% if logged_in? %>
  <%= form_with(model: @comment, local: true) do |f| %>
    <%= render 'shared/error_messages', object: @comment %>
    <%= f.hidden_field :suggestion_id, value: @suggestion.id %>
    <div class='body_form' %>
      <%= f.text_area :body, class: 'form-control', placeholder: "コメントを入力してください" %>
      </div>
    <span class="image">
      <%= f.file_field :images, multiple: true,accept: "image/jpeg,image/gif,image/png" %>
    </span>
    <%= f.submit '送信', class: "btn btn-primary" %>
  <% end %>
<% else %>
<div class=please_login>
  ログインしてコメントしましょう
</div>
<% end %>
