<% provide(:title, 'Edit user') %>
<% provide(:button_text, '更新する') %>
<%= javascript_pack_tag 'icon_loader',media: 'all'%>
<%= render 'shared/error_messages', object: @user %>

<div class="row">
  <div class="center-block">
    <%= form_with(model: current_user, local: true) do |f| %>
      <div class='account-page__inner--icon'>
        <div class='account-page__inner--icon__label'>
        </div>
        <div class='account-page__inner--icon__input'>
          <% if @avatar.present? %>
            <%= image_tag @avatar, class: 'account-page__inner--icon__input__image', width: '100%' %>
            <div class='account-page__inner--icon__input__image2'></div>
            <%= f.file_field :avatar, class: 'account-page__inner--icon__input__btn', id: 'upload-icon' %>
          <% end %>
        </div>
      </div>
      <div class='account-page__inner--user-form'>
      <h2>ユーザー情報</h2>
      <div class='profile'>
        <%= f.label 'プロフィール' %>
        <%= f.text_area :profile, autocomplete: 'off', class: 'form-control' %>
      </div>
      
      <%= f.label 'ユーザー名' %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
    
      <%= f.label 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    
      <%= f.label 'パスワード（確認用）' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <h2>発送先情報</h2>
      <%= f.label '受取人名' %>
      <%= f.text_field :receiver_name, class: 'form-control' %>
      
      <%= f.label :'郵便番号' %>
      <%= f.text_field :postcode, class: 'form-control' %>
      
      <%= f.label '住所' %>
      <%= f.text_field :address, class: 'form-control' %>
      
      <%= f.label 'TEL' %>
      <%= f.text_field :tel, class: 'form-control' %>
      <div class='profile-btn-block'>
        <%= f.submit yield(:button_text), class: "profile-btn",type: 'button', onclick: 'submit();' %>
      </div>
    <% end %>
  </div>
</div>
