<h1><%= @order.title %></h1>
<% if @order.images.attached? %>
  <% @order.images.each do |image| %>
    <%= link_to (image_tag display_image(image)) , image%>
  <% end %>
<% end %>
<h2><%= @order.body %></h2>

<%= render 'shared/tag_index' %>
<% if logged_in? && @order.user_id == current_user.id && @order.status == 'pending'%>
  <%= link_to 'オーダーを編集する', edit_order_path %>
<% end %>
<% if @order.status == 'pending' %>
  <% if !logged_in? %>
    <div class=please_login>
      ログインして提案しましょう
    </div>
  <% elsif !current_user?(User.find(@order.user_id))%>
    <%= render '/suggestions/suggestion_form' %>
  <% end %>
<% end %>
<h3>提案一覧</h3>
<% @order.suggestions.each do |suggestion| %>
  <%= link_to image_tag(User.find(suggestion.user_id).avatar, class: "user_icon") %><%= link_to suggestion.title, suggestion %><br>
<% end %>
