<%= javascript_pack_tag 'image_uploader',media: 'all'%>
<%= form_with(model: @suggestion, local: true) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggestion.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='suggestion_form'>
    <%= f.hidden_field :order_id, value: @order.id %>
    <div class='title_form'>
      <%= f.label 'タイトル' %>
      <%= f.text_field :title,placeholder: "タイトルを入力してください",class: 'form-control' %>
    </div>
    <div class='body_form'>
      <%= f.label '提案の詳細' %>
      <%= f.text_area :body,placeholder: "提案の詳細な内容を記入してください", class: 'form-control' %>
    </div>
    <div class='price_form'>
      <%= f.label '価格' %>
      <div class='flex-end'>
        <%= f.number_field :price,placeholder: "価格を記入してください",min: 1, class: 'form-control' %>円
      </div>
    </div>
    
    <div class='deadline_form'>
      <%= f.label '発送の目安' %>
      <div class='flex-end'>      
        <%= f.number_field :deadline,placeholder: "受注から発送までの目安を入力してください", min: 0,class: 'form-control' %>
        <span class='after_day'>日後</span>
      </div>
    </div>
    
    <div class="image-field">
      <div  class="image_label">
        <%= f.label '画像' %><br>
        <%= f.file_field :images, multiple: false, class: "file-input" %>
      </div>
      <% if @suggestion.images.attached? %>
        <% @suggestion.images.each do |image| %>
          <div class="image-box">
            <% new_image = image.variant(resize: "150x150^") %>
            <%= image_tag new_image %>
            <p> <%= image.filename %> </p>
            <%= f.hidden_field :images , name: "order[images][]", value: "#{image.blob.id}", style: "display: none;", class: "order-images-input" %>
            <%= link_to "Edit", "", class: "btn-edit" %>
            <%= file_field "edit-image","" , class: "edit-image-file-input file-input", style: "display: none;"%>
            <%= link_to "Delete", "", class: "btn-delete" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="btn-block"> 
      <%= f.submit "提案送信",class: "suggestion-btn" %>
    </div>
  </div>

<% end %>