<div class='back_link'>
  <%= link_to @order.title ,@order %>
</div>
<div class='suggestion_title'>
  <% user = User.find(@suggestion.user_id)%>
  <% if user.image.present? %>
  <h1><%= link_to image_tag(user.image.url, class: "user_icon") , user %><%= @suggestion.title %></h1>
  <% end %>
  <% if user.image.present? %>
  <h1<%= @suggestion.title %></h1>
  <% end %>
</div>
<% if @suggestion.images.attached? %>
  <% @suggestion.images.each do |image| %>
    <%= link_to (image_tag display_image(image)) , image%>
  <% end %>
<% end %>
<h2><%= @suggestion.body %></h2>


<h3>コメント</h3>
<%= render '/comments/comment_form' %>
<%= render @suggestion.comments %>
