<div class="navbar navbar-expand-sm navbar-light bg-light">
  <button style='background-color: #F8F9FA;color: #E78140; border: transparent ;'class="btn btn-primary btn-color" type="button" data-toggle="collapse" data-target="#global_nav" aria-expanded="false" aria-controls="collapseExample">
     <i class="fa-solid fa-bars"></i>
  </button>
  <div class="collapse" id="global_nav">
      <ul class="navbar-nav" id="global_navlist">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "TOP", '/orders' , class: 'nav-link'%> </li>
          <li class="nav-item"><%= link_to "MY PAGE", '/my_orders' , class: 'nav-link'%> </li>
          <li class="nav-item"><%= link_to "PRINT", order_sort_path, class: 'nav-link' %> </li>
          <li class="nav-item"><%= link_to "SETTING", edit_user_path(current_user), class: 'nav-link' %> </li>
          <li class="nav-item"><%= link_to "LOG OUT", logout_path, method: :delete , class: 'nav-link'%> </li>
        <% else %>
          <li class="nav-item"><%= link_to "TOP", '/orders' , class: 'nav-link'%> </li>
          <li class="nav-item"><%= link_to "PRINT", order_sort_path, class: 'nav-link' %> </li>
          <li class="nav-item"><%= link_to "LOG IN", '/login' , class: 'nav-link'%> </li>
        <% end %>
      </ul>
  </div>
  <% if logged_in? %>
    <%= render 'shared/new_order' %>
  <% end %>
</div>
